{
  "env": {
    "es2021": true,
    "node": true
  },
  "extends": "standard",
  "rules": {
    "arrow-parens": ["error", "always"],
    "comma-dangle": ["error", {
      "arrays": "always-multiline",
      "objects": "always-multiline",
      "imports": "always-multiline",
      "exports": "always-multiline"
    }],
    "no-restricted-properties": ["error", {
      "property": "substr",
      "message": "Use String#slice instead."
    }],
    "max-len": [1, 128, 2],
    "spaced-comment": "off",
    "radix": ["error", "always"]
  }
}
